body {
    background-image: url(stars.jpg);
    background-position: auto;
}
h1 {font-size: 40px;
    align-items: center;
    border: 6px dotted white;
    width: 350px;
    height: auto;
    font-family: 'Courier New', Courier, monospace;
    color:brown;
    margin: auto;
}
div {
    width: 250px;
    border: 10px solid white;
    padding: 50px;
    margin: auto;
    display: flex;
    justify-content: center;
    justify-content: space-between;
    align-items: center;
  }
p {text-align: center;
    font-size: x-large;
    font-family: 'Courier New', Courier, monospace;
    color: gray;
    border: 4px white dotted;
    width: auto;
    height: auto;
}