body {
    background-image: url(brown.jpg);
    background-position: auto;
}

h1 {
    color: lavender;
    font-family:'Courier New', Courier, monospace;
    background-color:burlywood;
    width: 400px;
    height: 100px;
    border: 2px white dotted;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    margin: auto;
}

div {
    width: 250px;
    height: 80px;
    border: 5px white solid;
    display: flex;
    justify-content: center;
    justify-content: space-evenly;
    align-items: center;
    margin: auto;

}
  p {font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
    text-align: center;
    border: 6px dotted white;
    width: 500px;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
  }
  